a { 
  text-decoration: none;
}

html {
  background-color: whitesmoke;
  background-image: url("noisy.png");
  filter: grayscale(15%)
}

a:hover{
  text-decoration: underline;
}
.header {
    color:white;
    text-align: center;
    font-size: 50px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: impact;
    margin: 0%;
    margin-top:0%;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: black;
}

.topnav{
  background-color: black;
  height: min-content;
}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}
.topnav li {
  float: left;
  overflow: hidden;
}
.topnav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  margin: 0%;
  text-decoration: none;
  padding: 8px 8px;
}
.topnav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.topnav li.dropdown {
  display: inline-block;
}
.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.topnav .dropdown-content a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding: 6px;
  display: block;
  text-align: left;
}
.topnav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.topnav .dropdown:hover .dropdown-content {
  display: block;
}

.content {
  float: left;
  width: 70%;
  position: relative;
}
.content a {
  color: black;
}
.content a:hover {
  color: red;
}

.popular {
    position: relative;
    font-size: 15px;
    left: -40;
    font-weight: bold;
}
.popular a{
  color: black;
}
.popular a:hover{
  color: red;
}
.popular li {
    overflow: hidden;
    padding-left: 0%;
}

.footer {
  padding: 10px;
  text-align: center;
  color: black;
}

.sidebar {
  float: right;
  padding-right: 20px;
  width: 20%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}


.topnav li::after {
  content: "";
  display: table;
  clear: both;
}

.topnav::after{
  content: "";
  display: table;
  clear: both;
}

.social-list{	
	padding: 0;
	list-style-type:none;
	display: grid;
	grid-template-columns: auto auto auto;
	background: lightgrey;
	grid-gap: 6px 0px;
	text-align: center;
	padding-top: 8px;
	border: round;
	border-radius: 30px;
	background-color: #e7cbcb;
	background-image: url("noisy.png");
}
.social-icon{
  text-align: center;
  text-decoration: none;
  filter: brightness(1.3);
}
.social-icon:hover {
  opacity: 0.4;
  text-decoration: none;
}
.tag-selector {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create a 3-column grid */
  grid-gap: 0px;
  font-size: 16px;
  max-width: fit-content;
}
.tag-selector label{
  padding: 0px;
  margin: 0;
}
.checkbox{
 scale: 1.2;
}












