a, a:visited, a:hover, a:active {
  /*color: #0051ff;*/
  color: #b82020;
  text-decoration: none;
}

.wrapper {
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    align-self: center;
    max-width: 1080px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: fit-content;
}

html { 
    font-family: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-ikjuuuuuuuuuuujserif; 
    background-color: darkgray;
    padding: 1rem; 
    margin: auto;
    background-image: url(bodybg2.png);
    /*background-color: rgba(0, 0, 0, 0.849);*/
    background-color: #ac1f42f1;
}

.header {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}


.topnav{
  background-color: lightgrey;
  height: min-content;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}
.topnav li {
  float: left;
  overflow: hidden;
}

.topnav li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.topnav li a:hover, .dropdown:hover .dropbtn {
  background-color: whitesmoke;
}

.topnav li.dropdown {
  display: inline-block;
}

.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.topnav .dropdown-content a:hover {background-color: #f1f1f1;}

.topnav .dropdown:hover .dropdown-content {
  display: block;
}

.content {
  float: left;
  width: 70%;
  position: relative;
}




.popular {
    position: relative;
    font-size: 15px;
    left: -40;
    font-weight: bold;
}

.popular a{
  /*color: #2b639b*/
  color: #b82020d2;
}

.popular li {
    overflow: hidden;
    padding-left: 0%;
}


.sidebar {
  float: right;
  padding-right: 20px;
  width: 20%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.topnav li::after {
  content: "";
  display: table;
  clear: both;
}

.topnav::after{
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}