<!doctype html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>chycho</title>
    <link rel="icon" href="{{ url_for('static', filename='free_chycho.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="wrapper">
    <div>

        <h1 class="header">chycho
	
	</h1>

	<p style="font-size:18px; ">Analysis and discussion about the world we live in
	</p>

        <ul class="topnav">
            <li><a href="{{url_for('blog.index')}}">Home</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='about')}}">About</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='')}}">Schedule</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Math</a>
                <div class="dropdown-content">
                <a href="{{url_for('blog.getSpecialPost',tag='finding_math')}}">Finding What You Need</a>
                <a href="#">The Language Of Mathematics</a>
                <a href="{{url_for('blog.getSpecialPost',tag='real_math')}}">Math in Real Life</a>
                <a href="{{url_for('blog.getSpecialPost',tag='asmr_math')}}">ASMR Math</a>
                </div>
            </li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='asmr')}}">ASMR</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='all_about_comics')}}">Comic Books</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='food')}}">Food</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='book_club')}}">Book Club</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Politics</a>
                <div class="dropdown-content">
			<a href="{{url_for('blog.getPostsByTag',tag='politics')}}">All Politics</a>
			<a href="{{url_for('blog.getPostsByTag',tag='afghan')}}">Afghanistan</a>
			<a href="{{url_for('blog.getPostsByTag',tag='africa')}}">Africa</a>
			<a href="{{url_for('blog.getPostsByTag',tag='armenia')}}">Armenia</a>
			<a href="{{url_for('blog.getPostsByTag',tag='bahrain')}}">Bahrain</a>
			<a href="{{url_for('blog.getPostsByTag',tag='canada')}}">Canada</a>
			<a href="{{url_for('blog.getPostsByTag',tag='egypt')}}">Egypt</a>
			<a href="{{url_for('blog.getPostsByTag',tag='france')}}">France</a>
			<a href="{{url_for('blog.getPostsByTag',tag='iraq')}}">Iraq</a>
			<a href="{{url_for('blog.getPostsByTag',tag='iran')}}">Iran</a>
			<a href="{{url_for('blog.getPostsByTag',tag='israel_palestine')}}">Israel/Palestine</a>
			<a href="{{url_for('blog.getPostsByTag',tag='syria')}}">Syria</a>
			<a href="{{url_for('blog.getPostsByTag',tag='turkey')}}">Turkey</a>
			<a href="{{url_for('blog.getPostsByTag',tag='ukraine')}}">Ukraine</a>
			<a href="{{url_for('blog.getPostsByTag',tag='911')}}">9/11</a>
                </div>
            </li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='economics')}}">Economics</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='privacy')}}">Privacy</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='entheogens')}}">Entheogens</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='games_gambling')}}">Games&Gambling</a></li>
            <li><a href="{{url_for('blog.getPostsByTag',tag='miscellaneous')}}">Miscellaneous</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='support')}}">Contact</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='support')}}">Support</a></li>
        </ul>


        <div class="sidebar">
            {% block sidebar %}
                <l>
                    {% for post in popular %}
                        <li>
                            <a href="{{url_for('blog.getPost',id=post['_id'])}}"> {{ post['title']}} </a>
                        </li>
                        <br>
                    {% endfor %}
                </l>
            {% endblock %}
        </div>

        <section>
            {% block content %}{% endblock %}
        </section>


        <div class=footer>
            {% include 'cc.html' %}
            <p><a href="eduardoadf.luis@gmail.com">eduardoadf.luis@gmail.com</a></p>
        </div>

</body>

</html>
