<!doctype html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>chycho</title>
    <link rel="icon" href="{{ url_for('static', filename='free_chycho.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="wrapper">
    <div>

        <h1 class="header">chycho.net</h1>
        <p>Analysis and discussion about the world we live in</p>

        <ul class="topnav">
            <li><a href="{{url_for('blog.index')}}">Home</a></li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='about')}}">About</a></li>
            <li><a href="#">Food</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Math</a>
                <div class="dropdown-content">
                <a href="{{url_for('blog.getSpecialPost',tag='math')}}">Finding What You Need</a>
                <a href="#">The Language Of Mathematics</a>
                <a href="{{url_for('blog.getSpecialPost',tag='real_math')}}">Math in Real Life</a>
                <a href="{{url_for('blog.getSpecialPost',tag='asmr_math')}}">ASMR Math</a>
                </div>
            </li>
            <li><a href="{{url_for('blog.getSpecialPost',tag='comic')}}">Comic Books</a></li>
            <li><a href="{{url_for('blog.getPostsByType',type='politics')}}">Politics</a></li>
            <li><a href="{{url_for('blog.getPostsByType',type='politics')}}">Entheogens</a></li>
            <li><a href="{{url_for('blog.getPostsByType',type='politics')}}">Contact</a></li>
            <li><a href="{{url_for('blog.getPostsByType',type='politics')}}">Support</a></li>
        </ul>


        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <section>
            {% block content %}{% endblock %}
        </section>


        <div class=footer>
            {% include 'cc.html' %}
            <p><a href="eduardoadf.luis@gmail.com">eduardoadf.luis@gmail.com</a></p>
        </div>

</body>

</html>