{% extends "base.html" %}


{% block content %}


{{ ckeditor.load() }}
{{ ckeditor.load(pkg_type="basic") }}
    

<form method="post">
    <p><a style="color:red"href="{{url_for('blog.deletePost',id=id)}}">Delete Post</a></p>
    
    <label for="tag-selector" style="font-weight: bold;">Select Tag(s):</label>


    {% include 'tag_selector.html' %} 

    <label for="tag" style="font-weight: bold;">New Tag (make it something like "book_club", no spaces or special characters)</label><br>
    <input name="tag" id="tag" value="{{ request.form['tag'] }}"><br><br>
    {{ ckeditor.create(value=article_body) }}
    {{ ckeditor.config(height=350) }}
    <br><input type="submit" name="submit" value="Submit"><br><br>
</form>

{% endblock %}
