<br>
<div class="search-container" style="text-align: center;">
    <form method="post">
        <input type="text" placeholder="Search..." name="search_query" ,
            value="{{request.form['search_query']}}"style="width:240px">
    </form>
</div>
<ul class=social-list>
	<li><a href="https://www.bitchute.com/chycho/" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/bitchute_32px.webp') }}"></a></li>
	<li><a href="https://rumble.com/chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/rumble_32px.png') }}"></a></li>
	<li><a href="https://www.twitch.tv/chycholive" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/twitch_32px.png') }}"></a></li>
	<li><a href="https://substack.com/@chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/substack_32px.png') }}"></a></li>
	<li><a href="https://odysee.com/@chycho:6" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/odysee_32px.png') }}"></a></li>
	<li><a href="https://soundcloud.com/chycho?_pxhc=1612144800387" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/soundcloud_32px.ico') }}"></a></li>
	<li><a href="https://twitter.com/chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/twitter_32px.png') }}"></a></li>
	<li><a href="https://vk.com/chycho.chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/vk_32px.png') }}"></a></li>
	<li><a href="https://gab.com/chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/gab_32px.ico') }}"></a></li>
	<li><a href="https://www.minds.com/chycho/" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/minds_32px.png') }}"></a></li>
	<li><a href="https://www.patreon.com/chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/patreon_32px.png') }}"></a></li>
	<li><a href="https://www.youtube.com/chycho" target="_blank" class="social-icon"><img src="{{ url_for('static', filename='social_icons/youtube_32px.png') }}"></a></li>
</ul>
<div class="popular">{% include 'popular.html' %}</div>
<img src="{{ url_for('static', filename='mathinreallife_chycho.jpg') }}">
<img src="{{ url_for('static', filename='420math_chycho.jpg') }}">
<!--<p style="text-align: center"><img src="{{ url_for('static', filename='free_chycho.jpeg') }}"></p>-->
