    <div class="tag-selector">
        <div>
            <input type="checkbox" name="tags" value="food" id="apple" class="checkbox">
            <label for="apple">Food,Drink&amp;Garden</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="politics" id="banana" class="checkbox">
            <label for="banana">Politics</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="book_club" id="cherry" class="checkbox">
            <label for="cherry">Book Club</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="entheogens" id="grape" class="checkbox">
            <label for="grape">Entheogens</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="comics" id="orange" class="checkbox">
            <label for="orange">Comic Books</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="economics" id="strawberry" class="checkbox">
            <label for="strawberry">Economics</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="math" id="apple" class="checkbox">
            <label for="apple">Math</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="privacy" id="banana" class="checkbox">
            <label for="banana">Privacy</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="article" id="banana" class="checkbox">
            <label for="banana">Article</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="world_conflicts" id="banana" class="checkbox">
            <label for="banana">World Conflicts</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="games_gambling" id="banana" class="checkbox">
            <label for="banana">Games</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="movies" id="banana" class="checkbox">
            <label for="banana">Movies</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="covid19" id="banana" class="checkbox">
            <label for="banana">Covid-19</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="ww3" id="banana" class="checkbox">
            <label for="banana">World War III</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="asmr" id="banana" class="checkbox">
            <label for="banana">ASMR</label><br>
        </div>
        <div>
            <input type="checkbox" name="tags" value="420" id="banana" class="checkbox">
            <label for="banana">420</label><br>
        </div>
    </div>
    <br>

